/* Pagina Responsive */
.column {
  width: 100%;
}

@media (min-width: 600px) {
  .column {
      width: 50%;
  }
}

main {
  background: #d9d7d5;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (min-width: 600px) {
  main {
      flex-wrap: nowrap;
  }

  div {
      flex-basis: 33%;
  }
}

img {
  max-width: 100%;
}
/* Modo Claro */
body {
  background-color: #fff;
  color: #000;
}

/* Modo Oscuro */
body.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}
  
body {
  font-family: Montserrat, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 14px;
  text-align: center;
}

header {
  background: url('img/reygif.com[26tn33aiTi1jkl6H6].gif') no-repeat center center;
  background-size: cover;
  height: 650px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}
header.dark-mode {
  background: url('img/reygif.com[26tn33aiTi1jkl6H6].gif') no-repeat center center;
  background-size: cover;
}

section {
  padding: 20px;
  background-color: #f4f4f4;
}
section.dark-mode {
  background-color: #333;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  bottom: 0;
}
footer.dark-mode {
  background-color: #121212;
}

#habilidadess {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
}

#habilidadess div {
  display: inline-block;
}

#habilidadess img {
  width: 100px;
  height: 100px;
  margin: 0 10px;
}
/* experiecias cartas*/
.card-container {
  display: flex;
  flex-wrap: nowrap; /* Evita que las tarjetas se envuelvan a la siguiente línea */
  overflow-x: auto; /* Permite el desplazamiento horizontal si las tarjetas no caben en la pantalla */
}

.card {
  flex: 0 0 18rem; /* Ancho fijo para las tarjetas */
  margin-right: 10px; /* Espacio entre las tarjetas */
}
